/*NAVIGAATION TYYLIT TÄHÄN TIEDOSTOON*/



.navbar {
	background: black;
	margin: 0;
	position: fixed;
	width: 100%;
	z-index: 99;
	border: 0;
	border-radius: 0;

}
/*Logoteksti väri*/
.navbar a:link, .navbar a:visited {
	color: white;
}

/*Navi linkkien tyylit*/
.navbar ul li a:link, .navbar ul li a:visited {
	color: white;
}

/*Active link navissa tyylit ensin ja hover sitten*/

.navbar-default .navbar-nav > li > a:focus   {
	color: black;
	background: white;
}
.navbar-default .navbar-nav > li > a:hover {
	color: black;
	background: white;
}

/*dropdown linkkien tyylit*/
.navbar ul li li a:link, .navbar ul li li a:visited {
	color: black;
}

/*Bootstrapin aukiolevan dropdown buttonin tausta ja teksti*/
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background: white;
	color: black;
}

/*Navbarin linkkien asemointi oikealle tai vasemmalle*/
.navbar ul{
	float: left;
}

/*MOBIILITYYLIT*/

/*Breakpoint jossa bs mobiilimenu aukeaa*/
@media screen and (max-width: 750px) {

.navbar {
	text-align: center;
}
.navbar ul {
	float: none;
}

}


